<nav class="navbar navbar-expand-md">
  <div class="container-fluid px-4 mx-5">
    <a class="navbar-brand fw-bold fs-3" href="#">Angular Forms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <ul class="navbar-nav ms-auto fw-bold fs-5">
        <li class="nav-item">
          <a routerLink="/template-driven" routerLinkActive="active" class="nav-link">Template-Driven</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reactive-form" routerLinkActive="active" class="nav-link">Reactive</a>
        </li>
        <li class="nav-item">
          <a routerLink="/reactive-validate" routerLinkActive="active" class="nav-link">Reactive-Validation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="showWelcomeDiv" class="d-flex justify-content-center align-items-center vh-100 text-center bg-dark">
  <div>
    <h1 class="fw-bold text-white fs-1">WELCOME TO MY ANGULAR FORMS DEMONSTRATION</h1><br>
    <h4 class="fw-bold text-white">Gonzales, Ethan James G.</h4>
    <h4 class="fw-bold text-white">WD-302</h4>
  </div>
</div>


<router-outlet />
